<div class="container-navbar">
    <div class="content">
        <div class="flex-center">

            <img src="../../../assets/logo/logo.png">
            <span>Produtos</span>
        </div>

        <div class="flex-center">
            <a routerLink="/carrinho">
                <div class="cart">
                    <div class="items-cart">
                        {{qtdItens || 0}}
                    </div>
                    <mat-icon>shopping_cart</mat-icon>
                </div>
            </a>
        </div>
    </div>


</div>