<app-header></app-header>
<div class="card" *ngFor="let produto of produtos;">
    <div class="container-produtos">
        <div class="imagem">
            <img src="assets/produtos/{{ produto.imagemProduto }}.png" />
        </div>

        <div class="descricao">
            <span>
                {{produto.descricao}}
            </span>
        </div>

        <div class="preco">
            <span class="valor">
                {{produto.valor | currency: 'BRL': true}}
            </span>
        </div>

        <div class="button-box">

            <a mat-stroked-button color="primary" routerLink="/carrinho" (click)="adicionarItemCarrinho(produto)">
                <mat-icon> attach_money</mat-icon>
                Comprar
            </a>
            <button mat-stroked-button color="primary" (click)="adicionarItemCarrinho(produto)">
                <mat-icon>add_shopping_cart</mat-icon>
                Adidionar ao Carrinho
            </button>
        </div>

    </div>
</div>